[senseSurtCore]
Biomes = BlackForest,
Enabled = true
Name = senseSurtCore
Faction = Boss
Random = true
Duration = 180
StartMessage = ...
EndMessage = 
NearBaseOnly = false
PauseIfNoPlayerInArea = false
ForceEnvironment = 
ForceMusic = 
CanStartDuringDay = false
CanStartDuringNight = true
ConditionDistanceToCenterMin = 0
ConditionDistanceToCenterMax = 0
## Minutes between checks for this raid to run. 0 uses game default (46 minutes). This is only used if UseIndividualRaidChecks is set in general config.
RaidFrequency = 23
## Chance at each check for this raid to run. 0 uses game default (20%). This is only used if UseIndividualRaidChecks is set in general config.
RaidChance = 50

[senseSurtCore.0]
Name = HasCore
PrefabName = Skeleton
RequiredEnvironments = 
Faction = 
HuntPlayer = true
MaxSpawned = 2
GroupSizeMin = 1
GroupSizeMax = 1
ConditionDistanceToCenterMin = 0
ConditionDistanceToCenterMax = 0
## Interval (seconds) between wave checks.
SpawnInterval = 10
## Chance (0 to 100) to spawn new wave per check.
SpawnChancePerInterval = 75
## Distance of player to spawner, for player to be included in player based checks such as ConditionNearbyPlayersCarryValue.
DistanceToTriggerPlayerConditions = 50
ConditionNearbyPlayerCarriesItem = SurtlingCore
[senseSurtCore.0.CreatureLevelAndLootControl]
UseDefaultLevels = false
SetInfusion = Fire

[senseSurtCore.1]
Name = Reinforce1k
PrefabName = Skeleton
RequiredEnvironments = 
Faction = 
HuntPlayer = true
MaxSpawned = 4
GroupSizeMin = 1
GroupSizeMax = 1
ConditionDistanceToCenterMin = 1000
ConditionDistanceToCenterMax = 0
## Interval (seconds) between wave checks.
SpawnInterval = 45
## Chance (0 to 100) to spawn new wave per check.
SpawnChancePerInterval = 75
## Distance of player to spawner, for player to be included in player based checks such as ConditionNearbyPlayersCarryValue.
DistanceToTriggerPlayerConditions = 75
ConditionNearbyPlayerCarriesItem = SurtlingCore
[senseSurtCore.1.CreatureLevelAndLootControl]
UseDefaultLevels = false
SetInfusion = Fire

[senseSurtCore.2]
Name = HasCore2k
PrefabName = Skeleton
RequiredEnvironments = 
Faction = 
HuntPlayer = true
MaxSpawned = 3
GroupSizeMin = 1
GroupSizeMax = 2
ConditionDistanceToCenterMin = 2000
ConditionDistanceToCenterMax = 0
## Interval (seconds) between wave checks.
SpawnInterval = 15
## Chance (0 to 100) to spawn new wave per check.
SpawnChancePerInterval = 75
## Distance of player to spawner, for player to be included in player based checks such as ConditionNearbyPlayersCarryValue.
DistanceToTriggerPlayerConditions = 50
ConditionNearbyPlayerCarriesItem = SurtlingCore
[senseSurtCore.2.CreatureLevelAndLootControl]
UseDefaultLevels = false
SetInfusion = Fire

[senseSurtCore.3]
Name = Reinforce3k
PrefabName = Skeleton
RequiredEnvironments = 
Faction = 
HuntPlayer = true
MaxSpawned = 3
GroupSizeMin = 1
GroupSizeMax = 1
ConditionDistanceToCenterMin = 3000
ConditionDistanceToCenterMax = 0
## Interval (seconds) between wave checks.
SpawnInterval = 45
## Chance (0 to 100) to spawn new wave per check.
SpawnChancePerInterval = 75
## Distance of player to spawner, for player to be included in player based checks such as ConditionNearbyPlayersCarryValue.
DistanceToTriggerPlayerConditions = 75
ConditionNearbyPlayerCarriesItem = SurtlingCore
[senseSurtCore.3.CreatureLevelAndLootControl]
UseDefaultLevels = false
SetInfusion = Fire

[senseSurtCore.4]
Name = HasCore4k
PrefabName = Surtling
RequiredEnvironments = 
Faction = 
HuntPlayer = true
MaxSpawned = 2
GroupSizeMin = 1
GroupSizeMax = 2
ConditionDistanceToCenterMin = 4000
ConditionDistanceToCenterMax = 0
## Interval (seconds) between wave checks.
SpawnInterval = 15
## Chance (0 to 100) to spawn new wave per check.
SpawnChancePerInterval = 100
## Distance of player to spawner, for player to be included in player based checks such as ConditionNearbyPlayersCarryValue.
DistanceToTriggerPlayerConditions = 175
ConditionNearbyPlayerCarriesItem = SurtlingCore
[senseSurtCore.4.CreatureLevelAndLootControl]
UseDefaultLevels = false

[senseSurtCore.5]
Name = Reinforce5k
PrefabName = Surtling
RequiredEnvironments = 
Faction = 
HuntPlayer = true
MaxSpawned = 2
GroupSizeMin = 1
GroupSizeMax = 2
ConditionDistanceToCenterMin = 5000
ConditionDistanceToCenterMax = 0
## Interval (seconds) between wave checks.
SpawnInterval = 45
## Chance (0 to 100) to spawn new wave per check.
SpawnChancePerInterval = 100
## Distance of player to spawner, for player to be included in player based checks such as ConditionNearbyPlayersCarryValue.
DistanceToTriggerPlayerConditions = 175
ConditionNearbyPlayerCarriesItem = SurtlingCore
[senseSurtCore.5.CreatureLevelAndLootControl]
UseDefaultLevels = false
